<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="spCheckQueue" value="" />
		<add key="varJobType" value="DataExtract" />
		<add key="CpuUtilizationLimit" value="100" />
		<add key="conString" value="Data Source=dbsw8229;Initial Catalog=mydb;User ID=aj;Password=HPMp0rTa1" />
		<add key="ConnnectionString" value="Server=FLM-VM-COGAIDEV;Database=AudioTrans;User Id=sanjeev;password=AgreeYa!@#$;" />
		<add key="maxthreadcount" value="15" />
		<add key="queuemaxthreadcount" value="15" />
		<add key="LogFile" value="C:\Projects\Pre Sales\2024\Cogent\MTM\MTM\Dex\DXservice.log" />
		<add key="Done" value="C:\AICogent\ICFiles\Done"/>
		<add key="LOG_TYPE" value="DBTEXTFILE" />
		<add key="PackageLogMessage" value="TRUE" />
		<add key="LogFileReportLib" value="J:\WebData\HPMReportQueueMultithread\ReportLib.log" />
		<add key="ExecuteAssemblyLocation" value="J:\WebData\HPMReportQueueMultithread\ReportLib.dll" />
		<add key="ExecuteAssemblyType" value="ReportLib.MultipleJobs" />
		<add key="TimerElapseTime" value="30000" />
		<add key="ServerName" value="myserver" />
		<add key="HPMConnectionString" value="Server=dbsw8229;Database=mydb;User Id=aj;password=HPMp0rTa1" />
		<add key="hpmprd1ConnectionString" value="Data Source=dbsw8229;Initial Catalog=Ajoshi;User Id=aj;password=HPMp0rTa1;" />
		<add key="DatabaseServer" value="dbsw8229" />
		<add key="DatabaseUser" value="hpmjob" />
		<add key="DatabasePassword" value="HPMp0rTa1" />
		<add key="_DataSource" value="dbsw8229" />
		<add key="_hpmUser" value="hpmjob" />		
	</appSettings>
</configuration>