<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientID" value="1" />
		<add key="URLTransAudio" value="http://flm-vm-cogaidev:4091/transcribe_audio_text"/>
		<add key="SATranscriptURL" value="http://flm-vm-cogaidev:4091/dump_data_into_sentiment"/>
		<add key="ConnnectionString" value="Server=FLM-VM-COGAIDEV;Database=AudioTrans;User Id=sanjeev;password=AgreeYa!@#$;" />
		<add key="SourceFolder" value="C:\AICogent\ICFiles" />
		<add key="DestinationFolder" value="C:\AICogent\ICFiles\Chunk" />
		<add key="LogFile" value="C:\BGService\BGService.log" />
		<add key="Done" value="C:\AICogent\ICFiles\Done"/>
		<add key="spCheckQueue" value="usp_PPMWEBDataExtractCheckQueueJobs" />
		<add key="varJobType" value="DataExtract" />
		<add key="CpuUtilizationLimit" value="70" />
		<add key="maxthreadcount" value="15" />
		<add key="queuemaxthreadcount" value="15" />
		<add key="LOG_TYPE" value="DBTEXTFILE" />
		<add key="LogFileReportLib" value="J:\WebData\HPMReportQueueMultithread\ReportLib.log" />
		<add key="ExecuteAssemblyLocation" value="J:\WebData\HPMReportQueueMultithread\ReportLib.dll" />
		<add key="ExecuteAssemblyType" value="ReportLib.MultipleJobs" />
		<add key="TimerElapseTime" value="30000" />
		<add key="ServerName" value="" />
	</appSettings>
</configuration>